.side-nav-container
  position: relative
  height: 100%
  background: #eee

  .side-nav
    background: #452F7C
    width: 220px

  .side-nav-content
    background: #27233A

  .list-item
    color: #ffffff
    cursor: pointer
  .list-item:hover
    background: #9370DB

  .user-img
    width: 150px
    height: 150px
    border-radius: 50%
    left: calc(50% - 75px)
    position: relative
