<mat-sidenav-container class="side-nav-container">
  <mat-sidenav class="side-nav" mode="side" opened>
    <mat-list class="side-nav-list">
      <img class="user-img" src="https://mail-order-bride.com/images/articles/s_1525695920.jpeg">
      <mat-list-item class="list-item">
        <p matLine>
          <span> Cassandra Red </span>
        </p>
        <p matLine>
          <span> red.cassandra@gmail.com </span>
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="list-item" *ngFor="let item of sideNameListItems">
        <img matListAvatar src="{{ item.logoSrc }}">
        <h3 matLine> {{ item.name }} </h3>
      </mat-list-item>
      <mat-list-item class="list-item">
        <img matListAvatar src="https://cdn.pixabay.com/photo/2016/10/10/01/49/plus-1727487__340.png">
        <h3 matLine> Add </h3>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>